.container {
  display: flex;
  justify-content: center;
  padding: 24px;
}
.card {
  width: 520px;
}
mat-list-item {
  padding-left: 0;
}
mat-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 12px;
}

mat-list-item strong {
  width: 120px;
  display: inline-block;
}
