<h2>New Flat</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<label>Title</label>
<input formControlName="title" />


<label>City</label>
<input formControlName="city" required />


<label>Street Name</label>
<input formControlName="streetName" required />


<label>Street Number</label>
<input type="number" formControlName="streetNumber" required min="1" />


<label>Area Size</label>
<input type="number" formControlName="areaSize" required min="1" />


<label>Year Built</label>
<input type="number" formControlName="yearBuilt" required min="1800" />


<label>Has AC</label>
<input type="checkbox" formControlName="hasAC" />


<label>Rent Price</label>
<input type="number" formControlName="rentPrice" required min="0" />


<label>Date Available</label>
<input type="date" formControlName="dateAvailable" required />


<label>Images (max 9)</label>
<input type="file" (change)="onFile($event)" multiple accept="image/*" />
<div class="thumbs" *ngIf="form.value.images?.length">
<img *ngFor="let u of form.value.images" [src]="u" width="80" height="80" alt="" />
</div>


<button type="submit" [disabled]="uploading()">Create</button>
</form>